{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h2>Last 5 posts</h2>
      {{ component('list_post', {max: 5}) }}
    </div>
  </div>
</div>
{% endblock %}
