
  <header class="masthead"
    {% block masthead_style %}
          style="background-image: url({{ asset('build/images/home-bg.jpg') }})"
    {% endblock %}
  >
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% block heading %}
                  <div class="site-heading">
                      <h1>Clean Blog</h1>
                      <span class="subheading">A Blog Theme by Start Bootstrap</span>
                  </div>
                {% endblock %}
            </div>
        </div>
    </div>
</header>

