<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <!-- Navigation-->
            {% include ("common/navbar.html.twig") %}

        <!-- Page Header-->
            {% include ("common/header.html.twig") %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            {% block body %}{% endblock %}
        </div>

        <!-- Footer-->
        {% include ("common/footer.html.twig") %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
