{% extends 'base.html.twig' %}

{% block title %}Hello SandboxController!{% endblock %}

{% block body %}
  <div class="native-tooltip">Hover over me
    <span class="native-tooltiptext">Tooltip text</span>
  </div>

<div class="example-wrapper">
    <div data-controller="hello"></div>
</div>


{% endblock %}
